<div id="sus-content">
    <div class="sus-card sus-margin-top-xl sus-margin-xs">
        {{ range (where .Data.Pages "Type" "post").Reverse }}
        <div class="">
            <a href="{{ .Permalink }}">
                <div class="sus-text-black sus-text-sm sus-padding-sm clearfix ">
                    <div class="sus-float-left">
                      {{ .Date.Format "2006.01.02" }}<br/>
                      {{ .Title }}
                    </div>
                    <div class="sus-float-right">
                      <img class="sus-image-inline-block sus-padding-top-sm" src="/img/icon_next.png" alt="icon_next.png" height="25px">
                    </div>
                </div>
            </a>
        </div>
        {{ end }}
    </div>
</div>
