{{ define "main" }}
<div id="news">
    <div id="sus-content">
        <div class="sus-card">
          <div class="sus-text-md sus-border-bottom sus-padding">
          {{.Title}}
          </div>
          <div class="sus-text-sm sus-padding">
            <div>
              {{ .Date.Format "2006.01.02" }}
              <br/>
              {{ .Content }}
            </div>
          </div>
        </div>
    </div>
</div>

<div id="sus-content">
    <div class="sus-card sus-margin-top-xs sus-text-sm">
        <div class="sus-padding">
            過去の記事
            <a class="sus-link-text" href="/news">
                <span class="sus-float-right">すべて見る</span>
            </a>
        </div>
        {{ range (where .Data.Pages "Type" "post" 1).Reverse }}
            <div class="sus-border-top sus-padding clearfix">
                <div class="sus-float-left">
                    <a class="sus-text-black" href="/news/20180427">
                    {{ .Date.Format "2006.01.02" }}
                    <br> {{ .Title }}
                    </a>
                </div>
                <div class="sus-float-right">
                    <img class="sus-image-inline-block sus-padding-top-sm" src="/img/icon_next.png" alt="icon_next.png" height="25px">
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
